.text {
  &--title-1 {
    font-size: calc(1.625rem + 4.2vw);
    text-align: center;
    line-height: 1;
  }

  &--title-2 {
    font-size: calc(1.5rem + 3.7vw);
    text-align: center;
    line-height: 1;
  }

  &--primary {
    color: $primary-300;
  }

  &--red {
    color: red;
  }

  &--green {
    color: #349634;
  }

  &--no-decoration {
    text-decoration: none;
  }
}
