body {
  font-family: "Inter", sans-serif !important;
}

.stacked {
  display: grid;
  > * {
    grid-row: 1;
    grid-column: 1;
  }
}

.background {
  z-index: -100;
  height: calc(#{$hero-height} + #{$demo-card-height / 1.5});
  background-image: url("../images/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.12;
}

.demo-card {
  height: $demo-card-height;
  min-height: $demo-card-height;
}

#app,
flutter-app {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  border: none;
}

.hidden {
  display: none;
}

.hero {
  min-height: $hero-height;
}
