$primary-300: #1389fd;
$primary-600: #0175c2;
$primary-900: #02569b;
$secondary-600: #ffc108;
$grey-300: #d5d7da;
$grey-600: #60646b;
$grey-900: #202124;

$text-black: #222;

$section-height: 80vh;
$section-max-width: 800px;
$card-height: 360px;
$card-radius: 16px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
