<section class="section">
  <div class="section__content section__content--extra">

    <div class="demo-grid">
      <div>
        <div id="form-card" class="card card--loading">
          <a href="{{ site.links.form }}" class="card__action" target="_blank">
            <i class="fas fa-code"></i>
          </a>
          <flutter-app></flutter-app>
        </div>

        <p class="card__hint">
          <span><i class="fas fa-exclamation-circle fa-lg"></i></span>
          <span>This form is rendered using Flutter Web, it may be slow or contain some janks.</span>
        </p>
      </div>

      <div>
        <div id="table-card" class="card card--loading">

          <table id="state-table" class="table">
            <thead>
              <tr>
                <th>Field</th>
                <th>Status</th>
                <th>Initial</th>
                <th>Touched</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
          </table>

        </div>
      </div>

    </div>

  </div>
</section>