<nav class="nav">

  <!-- Logo -->
  <a href="{{ site.baseurl }}/" class="nav__logo">
    <img src="assets/images/logo.png" alt="logo">
    <h1>{{ site.title }}</h1>
  </a>

  <!-- Links -->
  <ul class="nav__links">
    <li class="nav__link">
      <a href="{{ site.links.docs }}">Docs</a>
    </li>
    <li class="nav__link">
      <a href="{{ site.links.pub }}">Pub</a>
    </li>
    <li class="nav__link">
      <a href="{{ site.links.github }}"><i class="fab fa-github fa-lg"></i></a>
    </li>
  </ul>

</nav>