.pattern {
  z-index: -100;
  height: calc(#{$section-height} * 1.5);
  background-image: url("../images/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.08;
  box-shadow: inset 0 -100px 100px -50px #fff;
}
