.table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1pt solid $grey-300;
  }

  th {
    padding: 16px;
    padding-top: 0;
    text-align: start;

    &:nth-child(2) {
      width: 90px;
    }
  }

  td {
    padding: 14px;
  }

  thead {
    font-size: 15px;
  }

  tbody,
  tfoot {
    font-size: 14px;
  }

  tfoot {
    font-weight: bold;
    background-color: rgba($color: $primary-300, $alpha: 0.12);

    tr {
      border: none;
    }
  }
}

$statuses: (
  "pure": blue,
  "valid": green,
  "invalid": red,
  "mixed": indigo,
  "loading": grey,
  "success": darkgreen,
  "failure": darkred,
);

.status {
  @each $name, $bg-color in $statuses {
    &--#{$name} {
      padding: 6px 16px;
      border-radius: 16px;
      background-color: $bg-color;
      color: white;
      text-align: center;
      font-size: 12px;
      font-weight: 700;

      &::before {
        content: $name;
      }
    }
  }
}
